@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
@tailwind base;

@layer base {
    html {
        @apply text-surface;
        @apply bg-white;
    }
    html.dark {
        @apply text-neutral-50;
        @apply bg-body-dark;
    }
}

@tailwind components;
@tailwind utilities;

p {
    @apply leading-[1.6];
}

a.active {
    color: lightgray;
    -webkit-box-shadow: inset 0px 0px 25px 1px #a0bfcb;
    -moz-box-shadow: inset 0px 0px 25px 1px #f57425;
    box-shadow: inset 0px 0px 25px 1px #f57425;
}

.text-primary {
    color: #f57425 !important;
}

.text-primary:hover,
.hover\:text-primary:hover {
    color: #fff !important;
}

#search_input button:hover,
#search:hover {
    color: #f57425 !important;
}

.bg-primary {
    background-color: #f57425 !important;
}
.bg-primary:hover {
    background-color: #c75d1c !important;
}

header,
#sidebar,
footer {
    background: rgb(241, 109, 21);
    background: linear-gradient(
        0deg,
        rgba(241, 109, 21, 1) 0%,
        rgba(210, 130, 76, 1) 16%,
        rgba(255, 155, 78, 1) 100%
    );
}

.dropdown-menu {
    background: rgb(241, 109, 21);
    background: linear-gradient(
        0deg,
        rgba(255, 155, 78, 1) 0%,
        rgba(210, 130, 76, 1) 84%,
        rgba(241, 109, 21, 1) 100%
    );
}

@media (max-width: 1024px) {
    .container {
        max-width: 90% !important;
    }
}

@media (min-width: 1024px) {
    a.dropdown:hover + div + .dropdown-menu,
    .dropdown-menu:hover {
        display: block;
    }
}

/* Mobile menu */
#menu_items.open {
    display: block !important;
    position: fixed;
    top: 72px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 40;
    border-top: solid #fff 1px;
    background: rgb(241, 109, 21);
    background: linear-gradient(
        0deg,
        rgba(241, 109, 21, 1) 0%,
        rgba(210, 130, 76, 1) 16%,
        rgba(255, 155, 78, 1) 100%
    );
    padding: 15px;
}

#menu_items.open a {
    border-bottom: 1px solid #fff;
}

#dropdown_menu.open {
    background: none !important;
    display: block;
    width: 100%;
}

#dropdown_menu.open a {
    border-bottom: none;
    border-top: 1px solid #fff;
    display: block;
    color: black;
}
